.container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-container {
  padding: 5px;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-gap: 5px;
}

.form-container label {
  font-weight: bold;
  text-align: right;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.stay-on-hover {
  font-size: 20px !important;
  pointer-events: auto !important;

  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
