body {
  color: #222;
  background: #fff;
  font: 100% system-ui;
}
a {
  color: #0033cc;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #2d2a2a;
  }

  body a {
    color: #809fff;
  }

  input {
    color: var(--color);
    background: var(--color);
    border-color: #30363d;
  }
  input:focus{
    border-color: #1f6feb;
  }
}

.root{

}

