$color-btn-primary-bg: #2da44e;
$color-btn-primary-hover-bg: #2c974b;

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.issue-list{
  display: flex;
  flex-direction: column;
}
.issue-warning {
  color: orange;
  font-style: italic;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 5px;
}
.issue{
  display:flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 5px;
}

.issue .open {
  color: green;
}

.issue .closed {
  color: purple;
}

.header {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 5px;
}

.header span {
  font-weight: bold;
  font-size: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.issue-single-col {
  flex: 1;
}

.issue-double-col {
  flex: 2;
}

.issue-title {
  flex: 5;
}

.avatar {
  width: 25px
}

button {
  color: white;
  width: 130px;
  padding: 3px 12px;
  background-color: $color-btn-primary-bg;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(27, 31, 36, 0.15);

  &:hover {
    background-color: $color-btn-primary-hover-bg;
  }
}
