$color-btn-primary-bg: #2da44e;
$color-btn-primary-hover-bg: #2c974b;

.container {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.issue-list {
  display: flex;
  flex-direction: column;
  border-color: gray;
  border-bottom-width: 1px;
  border-style: solid;
}

.issue-warning {
  color: orange;
  font-style: italic;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 5px;
}

.issue {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: gray;
  padding: 5px;
}

.issueDetails {
  display: flex;
  flex-direction: row;
  color: grey;
}

.issueDetails .open {
  color: green;
  margin-right: 3px;
}

.issueDetails .closed {
  color: purple;
  margin-right: 3px;
}

.header {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 5px;
}

.header span {
  font-weight: bold;
  font-size: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.issue-single-col {
  flex: 1;
}

.issue-double-col {
  flex: 2;
}

.issue-title {
}

.avatar {
  width: 25px
}

button {
  color: white;
  width: 130px;
  padding: 3px 12px;
  background-color: $color-btn-primary-bg;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(27, 31, 36, 0.15);

  &:hover {
    background-color: $color-btn-primary-hover-bg;
  }
}
